/* ============= GOOGLE FONT ============= */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
@import url("fonts.css");

/* ============= VARIABLES ============= */
:root {
    --header-height: 3.5rem;

    /* ============= Colors ============= */

    --first-hex-color: #e6ce02;
    --second-hex-color: #ae9301;

    /* 
        Light-yellow: hsl(54, 98%, 45%);
        Dark-yellow: hsl(52, 98%, 45%);
        Blue: hsl(207, 90%, 72%);
        Pink: hsl(356, 66%, 75%);
        Teal: hsl(174, 63%, 62%);
    */

    --first-hue: 54;
    --sat: 98%;
    --lig: 45%;
    --second-hue: 52;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-alt-color: hsl(
        var(--second-hue),
        var(--sat),
        calc(var(--lig) - 4%)
    );
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --light-text-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);

    /* ============= Font & Typography ============= */
    /* 1rem = 16px */
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --tiny-font-size: 0.625rem;
    --smaller-font-size: 0.75rem;
    --small-font-size: 0.813rem;
    --normal-font-size: 0.938rem;

    /* ============= Font weight ============= */
    --medium-font: 500;
    --semi-bold-font: 600;

    /* ============= z-index ============= */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ============= Responsive typography ============= */
@media screen and (mid-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --smaller-font-size: 0.813rem;
        --small-font-size: 0.875rem;
        --normal-font-size: 1rem;
    }
}

/* ============= BASE ============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.4s;
    position: relative;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--semi-bold-font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

html.sr section {
    visibility: hidden;
    position: initial;
}
